<!DOCTYPE html>
<html>
<head>
	<title>Monir | Basha Khujchi</title>
	<link rel="icon" type="image/JPG" href="{{ url_for('static', filename='images/Monir.JPG') }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">


	<style type="text/css">
		.img-container{
			max-width: 600px;
		}

		img{
			width: 100%
		}

	</style>

</head>
<body>
	<div class="nav-wrapper">

		<!-- Link around dots-wrapper added after tutorial video -->
		<a href="{{ url_for('home') }}">
			<div class="dots-wrapper">
				<div id="dot-1" class="browser-dot"></div>
				<div id="dot-2" class="browser-dot"></div>
				<div id="dot-3" class="browser-dot"></div>
			</div>
		</a>

		<ul id="navigation">
			<li><a href="home#contact">Contact</a></li>

		</ul>
	</div>

	<div class="main-container">
		<br>

		<div class="">
			<img src="{{ url_for('static', filename='images/rent/collage1.jpg') }}" style="max-height: 900px;max-height: 700px;object-fit: contain;">
		</div>
		
		<h3>Basha khujchi - A Smart Home Rental System</h3>

		<p>This projects was one of my academic project, we planned to build this project on PHP we didn't able to complete this project.
			After that I started to work on this project personally, this was a project I started back in 2020 when I started to learn Django Framework for the first time. 
		<br>
		<br>
		A smart & hassle free web application for home rental system of bangladesh where tenants can looking for vacant houses and
		house owners can rent their houses without any headache.
		<br>
		<br>
		There is a communication system in this project by which both tenants & house owners can communicate with each other via this system.
		<br>
		<br>
		The system is the simplest solution to the rental system. It will reduce hassle & save time for both tenants and house owners. 

		<h5>Technologies:</h5>
		<ul>
			<li>- Python</li>
			<li>- Django</li>
			<li>- HTML/CSS</li>
			<li>- Bootstrap</li>
			<li>- Javascript</li>
			<li>- JQuery</li>
			<li>- Postgres</li>
		</ul>


		<h5>Submit New Rent</h5>
		<div class="">
			<img src="{{ url_for('static', filename='images/rent/collage12.jpg') }}">
		</div>

		<h6>Rent List</h5>
		<div class="">
			<img src="{{ url_for('static', filename='images/rent/1.PNG') }}">
		</div>

		<h5>Rent Details & Comment</h5>
		<div class="">
			<img src="{{ url_for('static', filename='images/rent/collage14.jpg') }}">
		</div>

		<h5>User Profile</h5>
		<div class="">
			<img src="{{ url_for('static', filename='images/rent/collage13.jpg') }}">
		</div>

		<h5>Favorite Rent</h5>
		<div class="">
			<img src="{{ url_for('static', filename='images/rent/8.PNG') }}">
		</div>

	</div>

</body>
</html>